*{
  margin-bottom: 1px;
}

.main-nav {
  z-index: 1;
  background: #444;
  height: 120px;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 10px;
}

.navigation {
  vertical-align:text-bottom;
  margin-left:10px;
}

a {
  text-decoration: none;
  color: #888;
}

footer {
  height: 30px;
  color: #888;
  background: #444;
  padding: 40px 0;
  text-align: center;
}

#projects {
  position: relative;
}

#projects li {
  display: inline-block;
  margin-right:5px;
}

h2 {
  margin-top: 0px;
  text-align: center;
  font-style: normal;
  font-size: 150%;
}

#about {
  margin: 0px 0px 5px 20px;
}

#contact {
  margin: 0px 0px 5px 0px;
}

.icon-menu {
  clear left;
  float: right;
  width: 15%;
  height: 15%;
  font-size: 10px;
}

.main-nav ul {
  clear: both;
  padding-left: 0px;
  display: none;
  list-style: none;
}

.main-nav:hover ul {
  display: block;
}

.main-nav ul li {
  display: inline-block;
  text-indent: 40px;
  color: #C9C5C5;
  margin-left: 0px;
  padding-top: 80px;
}

@media only screen and (min-width: 640px){
  .main-nav ul {
    display:inline-block;
    clear: both;
    padding: .1em .1em .1em 2em;
    float: none;
  }
  .icon-menu::before{
    display:none
  }
}
